Result: <b>{{damage}}</b>
<button class="chat-critical-roll" type="button" data-enemy="{{enemy.id}}" data-damage="{{criticalData.damage}}"
        data-severity="{{criticalData.severity}}" data-crittype="{{criticalData.critType}}">
  {{ localize "rmss.combat.critical_roll" }}</button>