<div class="skills-grid-container-creature">
    <div class="skills-grid-heading">{{ localize "rmss.creature_attack.attack" }}</div>
    <div class="skills-grid-heading">{{ localize "rmss.creature_attack.bonus" }}</div>
    <div class="skills-grid-heading">{{ localize "rmss.creature_attack.multiplier" }}</div>
    <div class="skills-grid-heading">{{ localize "rmss.creature_attack.attacks_number" }}</div>
    <div class="skills-grid-heading">{{ localize "rmss.creature_attack.probability" }}</div>
    <div class="skills-grid-heading">{{ localize "rmss.creature_attack.special" }}</div>
    <div class="skills-grid-heading">
        <a class="item-control item-create" title="Create Item" data-type="creature_attack">
            <i class="fas fa-plus"></i>{{ localize "rmss.pc_sheet_items.add_item" }}
        </a>
    </div>
    {{#each creature_attacks as |attack id|}}
        <div class="creature-attack-calc" data-item-id="{{attack._id}}" data-item-order="{{attack.system.order}}">
            <div class="creature-attack-name clickable offensive-skill" data-item-id="{{attack._id}}">{{attack.name}}
                <span data-item-id="{{weapon._id}}"><i class="fa-solid fa-sword"></i></span>
            </div>
            <div class="creature-attack-bonus" contenteditable="true" data-item-id="{{attack._id}}">{{attack.system.bonus}}</div>
            <div class="creature-attack-multiplier" data-item-id="{{attack._id}}">
                <select name="system.multiplier">
                    <option value="1" {{#if (eq system.multiplier "1")}}selected{{/if}}>1D</option>
                    <option value="2" {{#if (eq system.multiplier "2")}}selected{{/if}}>2D</option>
                    <option value="3" {{#if (eq system.multiplier "3")}}selected{{/if}}>3D</option>
                    <option value="4" {{#if (eq system.multiplier "4")}}selected{{/if}}>4D</option>
                    <option value="5" {{#if (eq system.multiplier "5")}}selected{{/if}}>5D</option>
                    <option value="6" {{#if (eq system.multiplier "6")}}selected{{/if}}>6D</option>
                </select>
            </div>
            <div class="creature-attack-number" contenteditable="true" data-item-id="{{attack._id}}" data-dtype="Number">{{attack.system.attacks_number}}</div>
            <div class="creature-attack-probability" data-item-id="{{attack._id}}" contenteditable="true" data-dtype="Number">{{attack.system.probability}}</div>
            <div class="creature-attack-special" data-item-id="{{attack._id}}">
            {{#unless (eq attack.system.order 1)}}
                <select name="system.special">
                    <option value="none" {{#if (eq system.special "none")}}selected{{/if}}>{{ localize "rmss.creature_attack.special_desc.none" }}</option>
                    <option value="same" {{#if (eq system.special "same")}}selected{{/if}}>{{ localize "rmss.creature_attack.special_desc.same" }}</option>
                    <option value="next" {{#if (eq system.special "next")}}selected{{/if}}>{{ localize "rmss.creature_attack.special_desc.next" }}</option>
                </select>
            {{/unless}}
            </div>
            <div>
                <a class="item-control item-edit" title="Edit Item" data-item-id="{{attack._id}}"><i class="fas fa-edit"></i></a>
                <a class="item-delete" title="Delete Skill" data-item-id="{{attack._id}}"><i class="fas fa-trash"></i></a>
            </div>
        </div>
    {{/each}}
</div>