<div class="search-bar" id="{{id}}" data-target-selector="{{targetSelector}}" data-target-data-attribute="{{targetDataAttribute}}"
    data-debounce="{{debounce}}">

    <input type="text" placeholder="{{placeholder}}" />
</div>